@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(233, 242, 242);
    position:relative;
    width: 500px;
    margin: 0 auto;
}


.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }  

  .success {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }  